<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teambisu.mobilecomputingandsendingofgrades">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".RegisterInstructorActivity"
            android:label="@string/title_activity_register_instructor" />
        <activity
            android:name=".ListSubjectActivity"
            android:label="@string/title_activity_list_subject" />
        <activity
            android:name=".SectionListActivity"
            android:label="@string/title_activity_section_list" />
        <activity
            android:name=".StudentListActivity"
            android:label="@string/title_activity_student_list" />
        <activity
            android:name=".subject.AddSubjectActivity"
            android:label="@string/title_activity_add_subject" />
        <activity
            android:name=".section.AddSectionActivity"
            android:label="@string/title_activity_add_section" />
        <activity
            android:name=".student.AddStudentActivity"
            android:label="@string/title_activity_add_student" />
        <activity
            android:name=".subject.EditSubjectActivity"
            android:label="@string/title_activity_edit_subject"></activity>
    </application>

</manifest>